DJANGO_SETTINGS_MODULE="{{cookiecutter.project_repo_name}}.settings.dev"
SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
DJANGO_SUPERUSER_PASSWORD=
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_EMAIL=
